
@page "/category"
<div>
    <h1 lang="aa">Категории вопросов:</h1>
</div>

<div>
    <button class="oi oi-one btn btn-primary">Простые</button>
    <button class="oi oi-home btn btn-primary">Средние</button>
    <button class="oi oi-home btn btn-primary">Сложные</button>
</div>

@code {

}
